<a class='hand__link' href='/answers/{{id}}'>
  <p>{{description}}</p>
  <div class='card'>
    <div class='card__text'>
      <p>{{response}}</p>
      <div class='card__emblem'>
        <div class='blk_box'></div>
        <span>SQLightmare</span>
      </div>
    </div>
  </div>
</a>