<div class='card' id="{{id}}">
  <div class='card__text'>
    <p>{{response}}</p>
    <div class='card__emblem'>
      <div class='blk_box'></div>
      <span>SQLightmare</span>
    </div>
  </div>
</div>