<header class='header'>
  <div class='header__text'>
    <h1>Cards against @SQLightMare </h1>
  </div>
  <div class='header__links'>

    <div class='header-buttons'>
      {{#if user}}
        <button onclick="location.href='/logout';">Login Out</button>
      {{else}}
        <button onclick="location.href='/login';">Login</button>
      {{/if}}
      <button onclick="location.href='/joinRoom';">Join Room</button>
      <button onclick="location.href='/game';">Play Game</button>
      <button onclick="location.href='/createGame';">Create Game</button>
      {{#if user}}
        <p>Welcome {{user.name}} !</p>
      {{/if}}
    </div>
  </div>
</header><!-- header.hbs -->