<header class="header">
  <div class="header__text">
    <h1>Cards against @SQLightMare </h1>
  </div>
  <div class="header__links">
    <a class="header_link" href="#">HOME</a>
    <a class="header_link" href="#">REFRESH</a>
    <a class="header_link" href="#">JOIN</a>
  </div>
</header>