<body>
  <div>
    {{#if user}}
      <div id='gameRoomForm'>
        <form class='formGrid' action='/createGame' method='post'>
          <div>
            <label for='roomName'>Room Name:</label>
            <input type='text' id='roomName' name='roomName' required /><br
            /><br />
            <label for='roomPassword'>Password:</label>
            <input type='password' id='roomPassword' name='roomPassword' /><br
            /><br />
            <label for='totalRounds'>Rounds:</label>
            <input type='number' id='totalRounds' name='totalRounds' /><br /><br
            />
            <label for='numberOfPlayers'>Number Of Players:</label>
            <input
              type='number'
              id='numberOfPlayers'
              name='numberOfPlayers'
            /><br /><br />
            <input type='submit' value='Create' />
          </div>

        </form>
      </div>
    {{else}}
      You are not logged in.
      <a href='/login'>Login</a>
    {{/if}}
  </div>

</body>