{{! ACCEPT ARRAY OF OBJECTS EACH OBJECT REQ: XX }}

{{!-- <h1>Welcome to the game</h1> --}}

<div class='hand'>
  <div class='hand__header'>
    <span class="hand__user">Murrays {{user_name}} Hand</span>
    <span class="hand__user">score: {{score}} 1</span>
  </div>
  <div class='hand__cards'>
    <div class='card'>
      <div class='card__text'>
        <p>Before I got my job, I had to endure a grueling interview process,
          which included answering questions about ____________.</p>
        <div class='card__emblem'>
          <div class='blk_box'></div>
          <span>SQLightmare</span>
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card__text'>
        <p>Before I got my job, I had to endure a grueling interview process,
          which included answering questions about ____________.</p>
        <div class='card__emblem'>
          <div class='blk_box'></div>
          <span>SQLightmare</span>
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card__text'>
        <p>Before I got my job, I had to endure a grueling interview process,
          which included answeri</p>
        <div class='card__emblem'>
          <div class='blk_box'></div>
          <span>SQLightmare</span>
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card__text'>
        <p>Before I got my job, I had to endure a grueling interview process,
          which included answering questions about ____________.</p>
        <div class='card__emblem'>
          <div class='blk_box'></div>
          <span>SQLightmare</span>
        </div>
      </div>
    </div>
  </div>
</div>