<div class="grid-test">
  <div class="grid-left">
    <div class="card card-opponent card-disabled"></div>
    <div class="card card-opponent card-disabled"></div>
  </div>
  <div class="grid-top">
    {{!-- <div class="card card-opponent"></div>
    <div class="card card-opponent"></div> --}}
  </div>
  <div class="grid-center">
    <div class="card card-special card-disabled"></div>
  </div>
  <div class="grid-right">
    <div class="card card-opponent card-disabled"></div>
    <div class="card card-opponent card-disabled"></div>
  </div>
  <div class="grid-bottom"><div class='hand'>
  <div class='hand__header'>
    <span class="hand__user">Murrays {{user_name}} Hand</span>
    <span class="hand__user">score: {{score}} 1</span>
  </div>
  <div class='hand__cards'>
    <div class='card'>
      <div class='card__text'>
        <p>Before I got my job, I had to endure a grueling interview process,
          which included answering questions about ____________.</p>
        <div class='card__emblem'>
          <div class='blk_box'></div>
          <span>SQLightmare</span>
        </div>
      </div>
    </div>
    <div class='card card-special'>
      <div class='card__text'>
        <p>Before I got my job, I had to endure a grueling interview process,
          which included answering questions about ____________.</p>
        <div class='card__emblem'>
          <div class='blk_box'></div>
          <span>SQLightmare</span>
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card__text'>
        <p>Before I got my job, I had to endure a grueling interview process,
          which included answeri</p>
        <div class='card__emblem'>
          <div class='blk_box'></div>
          <span>SQLightmare</span>
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card__text'>
        <p>Before I got my job, I had to endure a grueling interview process,
          which included answering questions about ____________.</p>
        <div class='card__emblem'>
          <div class='blk_box'></div>
          <span>SQLightmare</span>
        </div>
      </div>
    </div>
  </div>
</div></div>
</div>