<div class="container">
  <form class="login-form" action="/login" method="post" >
    <img class="magnificent-toby" src="https://m.media-amazon.com/images/I/61Qe9gpgCJL._AC_UF894,1000_QL80_.jpg" alt="">
    
    <label for="display_name"><h4 class="login-form__header">Pick a name and enter Tobys Wizardry room:</h4></label>
    <input class="login-form__text" type="text" name="display_name" placeholder="Display name">
    <button class="login-form__submit" type="submit">Submit</button>
  </form>
</div>