body {
  background-color: aqua;
}

.card {
  border: solid 1.5px rgb(0, 0, 0);
  background-color: rgb(252, 252, 252);
  font-weight: 800;
  font-size: larger;
  border-radius: 0.5rem;
  padding: 2rem;
  height: 20rem;
  width: 15rem;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.468);
  margin: 1rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: solid 0.5px rgb(255, 255, 255);
  transition-duration: 100ms;
}


.card-special {
  background-color: rgb(0, 0, 0);
  color: white;
}

.card-special .blk_box{
  background-color: rgb(255, 255, 255);
}


.card__text{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_emblem {
  display: inline-block;
}

.blk_box {
  height: 1rem;
  width: 1rem;
  background-color: black;
  display: inline-block;
}


.hand { 
}

.hand__header {
  display: block;
  font-size: 50px;
  width: 100%;
}

.hand__score {
  display: flex
}
.hand__cards {
  display: flex
}