<!DOCTYPE html>
<html>

<head>
  <title>Dev Academy Phase 1 Express Boilerplate</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="container">
    {{>header}}
    {{{body}}}
  </div>
</body>

</html>
